.img {
  background-image: url(https://www.voicesofyouth.org/sites/voy/files/images/2019-03/school.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
